extends layout

block content
    div.articles
        - each article in articles
            div.article-summary.col-md-11
                div.article-thumbnail
                a(href="/blog/"+article._id)
                    img.img-responsive(src=article.img, title=article.title)
                    div.article-summary-heading
                        h3.title= article.title
                div.article-summary-content= entities.decode(markdown.toHTML(article.content), 2)
                div.article-summary-footer
                    div.labels
                        - each tag in article.tags
                            span.label.label-info= tag
                    div.comment-summary.pull-right
                        span.glyphicon.glyphicon-comment (
                                                         = article.comments.length
                                                         )
                     div.clearfix
        - if (page.current != 1 || page.total > page.current)
             .pagination.col-md-11
                 ul.pager
                     - if (page.current != 1)
                         li.previous
                             - var prev = parseInt(page.current) - 1
                                a(href="/page/" + prev) &larr; 上一页
                     - if (page.total > page.current)
                         li.next
                             - var next = parseInt(page.current) + 1
                                a(href="/page/" + next) 下一页 &rarr;
