extends layout

block content
    div.articles
        - each article in articles
            div.article-summary.col-md-11
                div.article-thumbnail
                a(href="/blog/"+article._id)
                    img.img-responsive(src=article.img, title=article.title)
                    div.article-summary-heading
                        h3.title= article.title
                div.article-summary-content= entities.decode(markdown.toHTML(article.content), 2)
                div.article-summary-footer
                    div.labels
                        - each tag in article.tags
                            span.label.label-info= tag
                    div.comment-summary.pull-right
                        span.glyphicon.glyphicon-comment (
                                                         = article.comments.length
                                                         )
                     div.clearfix
