extends layout

block content
    div.articles
        - each article in articles
            div.article-summary.self-content
                div.article-thumbnail
                a(href="/blog/"+article._id)
                    img.img-responsive(src=article.img, title=article.title)
                    div.article-summary-heading
                        h3.title= article.title
                div.article-summary-content!= entities.decode(markdown.toHTML(article.content), 2)
                div.article-summary-footer
                    div.labels
                        - each tag in article.tags
                            span.label.label-success= tag
                    div.comment-summary.pull-right
                            a(href="/blog/"+article._id+"#disqus_thread")
                     div.clearfix
        - if (page && page.current != 1 || page.total > page.current)
             .pagination.col-md-12.col-sm-12.col-xs-12
                 ul.pager
                     - if (page.current != 1)
                         li.previous
                             - var prev = parseInt(page.current) - 1
                                a(href="/page/" + prev) &larr; 上一页
                     - if (page.total > page.current)
                         li.next
                             - var next = parseInt(page.current) + 1
                                a(href="/page/" + next) 下一页 &rarr;
    script
        var audioNodes = document.getElementsByTagName('audio');
        for(var i=0; i<audioNodes.length; i++) {
          audioNodes[i].removeAttribute('autoplay');
          audioNodes[i].currentTime = 0;
          audioNodes[i].stop();
        }
    script(type="text/javascript")
        var disqus_shortname = "yuezme";
        (function() {
          var s = document.createElement('script');
          s.async = true;
          s.type = 'text/javascript';
          s.src = '//' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
