extends layout

block js
    link(rel="stylesheet", href="http://yandex.st/highlightjs/7.4/styles/default.min.css")
    script(src="http://yandex.st/highlightjs/7.4/highlight.min.js")
    script(type="text/javascript")
        hljs.initHighlightingOnLoad();

block content
    div.col-md-11
        div.article-show
            legend= title
                div.credit-line
                    - each tag in article.tags
                        span.label.label-info= tag
                    span.created_at.pull-right= moment(article.created_at).format("YYYY-MM-DD HH:mm:ss")
                    div.clearfix
            div.article-content= entities.decode(markdown.toHTML(article.content), 2)
        div.comment-block
            legend 评论（
                = article.comments.length
                | ）
            div.commenting
                form.form-horizontal(role="form", method="post", action="/blog/commenting")
                    input(type="hidden", name="articleId", value=article._id)
                    div.form-group
                        div.col-sm-12
                            div.input-group
                                span.input-group-addon
                                    span.glyphicon.glyphicon-comment
                                input.form-control(type="text", name="content", id="content", placeholder="说点什么吧...", required)
                    div.form-group
                        div.col-sm-offset-6.col-sm-6
                            div.input-group.named(style="display: none;")
                                input.form-control(type="text", name="author", id="author", placeholder="留下您的大名", required)
                                span.input-group-btn
                                    button.btn.btn-default.btn-danger(type="submit") 评论
            div.comments
                - each comment in article.comments
                    div.article-comment
                        div.comment-heading
                            span.author= comment.author
                            span.created_at.text-muted= moment(moment.created_at).startOf('day').fromNow()
                        div.comment-body
                            p= comment.content
                        div.comment-footer
                            // TODO 待增加
                            li.vote
                                span.glyphicon.glyphicon-chevron-up(title="赞成")
                                span.glyphicon.glyphicon-chevron-down(title="反对")
                            li.reply
                                span 回复
                            div.clearfix

